/*--Contact Section --*/
.contact {
  background: white;
  opacity: 0.7;
}

.contact h2{
  top: 11%; 
  font-size: 60px;
  font-family: 'Staatliches', cursive;
  letter-spacing: 3px;
  color: black;
  width: 95%; 
  opacity: 1; 
}

.contact p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: black;
    top: 22%;
    max-width: 95%; 
    right:0;
    left:0;
    margin:auto;
    line-height: 1.8; 
}

