
 /***********************************************************************
     Verification block
 **********************************************************************/
 html body{
    background-image:url('../images/_order.jpg'); 
    background-size: cover; 
}

#searchBar {
  margin: 15px 10px;
}

section{
  margin-top: 87px; 
  background-color: : #f9f9f9;
}

.module{
    padding:150px 20px 150px 20px;
    text-align: center;
}

.section-2{
    height: 800px;
}
 .verif_text{
    position: absolute;
    top: 30%;
 margin-left: 50px; 

 }

 .verif_text h2{
  font-size: 60px;
  font-family: 'Staatliches', cursive;
  letter-spacing: 3px;
  color: white;
  opacity: 1; 
}

.verif_text p{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: white;
    line-height: 1.8; 
}
.verif_text a{
  color: #063793; 
}

 .verif_text a:hover{
  color: white; 
}
