
 /***********************************************************************
     Verification block
 **********************************************************************/
 html body{
    background-image:url('../images/_order.jpg'); 
    background-size: cover; 
}

#searchBar {
  margin: 15px 10px;
}

section{
  margin-top: 87px; 
  background-color: : #f9f9f9;
}

.section-2{
    height: 800px;
}


.section-2 h2{
  font-size: 60px;
  font-family: 'Staatliches', cursive;
  letter-spacing: 3px;
  color: white;
  opacity: 1; 
}

.section-2 p{
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    color: white;
    line-height: 1.8; 
}
.section-2 a{
  color: #063793; 
}

.section-2 a:hover{
  color: white; 
}
